// _variables.scss

// Отступы
$carousel-horizontal-padding: 96px; // Отступы слева и справа
$carousel-vertical-padding: 40px;   // Отступы сверху и снизу

// Размеры карточек услуг
$service-card-width: 545px;
$service-card-height: 456px;

// Стиль заголовков
$carousel-title-color: #8e3131;
$carousel-title-font-size: 36px;
$service-title-font-size: 24px;
