.service-page {
    font-family: Arial, sans-serif;
    padding: 50px;
    background-color: #f0f0f0;
}

.catalog-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
    color: #8e3131;
}

.catalog-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); // 3 колонки
    gap: 123px; // расстояние между карточками 123px
    justify-items: center;

    // Адаптив для мобильных устройств
    // При ширине меньше 768px будет 1 колонка
    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        gap: 40px; // можно уменьшить отступ для мобильного
    }
}

.catalog-card {
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .ant-card-meta-title {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    .ant-card-meta-description {
        font-size: 1.1rem;
        color: #666;
    }
}

/* Добавьте этот класс для центрирования колонок */
.centered-col {
    display: flex;
    justify-content: center;
    align-items: center;
}
