// _variables.scss

// Отступы
$header-horizontal-padding-left: 97px; // Отступ слева для хедера
$header-horizontal-padding-right: 103px; // Отступ справа для хедера

// Цвета
$header-background-color: #8E3131; // Фон хедера
$header-box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 2px 0px; // Тень хедера
$logo-color: #ffffff; // Цвет логотипа (белый)
$nav-button-color: #ffffff; // Цвет текста навигационных кнопок (белый)
$nav-button-hover-color: #ffdfdf; // Цвет текста при наведении (легкий розовый оттенок)
$phone-color: #ffffff; // Цвет номера телефона (белый)
$separator-color: #ffffff; // Цвет разделителя (палочка) (белый)
$call-button-text-color: #ffffff; // Цвет текста кнопки "Заказать звонок" (белый)
$call-button-hover-text-color: #ffdfdf; // Цвет текста при наведении на кнопку "Заказать звонок"

// Размеры
$header-height: 105px; // Высота хедера
$nav-button-font-size: 18px; // Размер шрифта навигационных кнопок
$logo-font-size: 24px; // Размер шрифта логотипа
$phone-font-size: 18px; // Размер шрифта номера телефона
$separator-font-size: 18px; // Размер шрифта разделителя
$call-button-font-size: 16px; // Размер шрифта кнопки "Заказать звонок"
$call-button-height: 40px; // Высота кнопки "Заказать звонок"
