@import 'variables'; // Импортируем ваши переменные

.header {
    z-index: 1000;
    box-shadow: $header-box-shadow;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: $header-background-color;
    height: $header-height;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    padding-left: $header-horizontal-padding-left;
    box-sizing: border-box;
}

.header__left {
    display: flex;
    flex-direction: column; /* Располагаем элементы по вертикали */
    align-items: flex-start; /* Выравниваем текст по левому краю */
    cursor: pointer;
    font-size: $logo-font-size;
    font-weight: bold;
    color: $logo-color;

    /* Дополнительные стили для расстояния между строками, если нужно */
    line-height: 1.2; /* Высота строки для более компактного вида */
}

.header__center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.header__center .ant-btn {
    font-size: $nav-button-font-size;
    color: $nav-button-color;
    padding: 0 16px;
    height: auto;
    border: none;
    background: transparent;
}

.header__center .ant-btn:hover {
    color: $nav-button-color !important;
    background: transparent !important;
    box-shadow: none !important;
}

.header__right {
    display: flex;
    align-items: center;
    gap: 16px;
    padding-right: 0;
}

.header__phone {
    font-size: $phone-font-size;
    color: $phone-color;
}

.header__text {
    font-size: $phone-font-size;
    color: $phone-color;
    padding-right: 10px;
}

.header__separator {
    font-size: $separator-font-size;
    color: $separator-color;
}

.header__right .ant-btn {
    font-size: $call-button-font-size;
    padding: 8px 16px;
    height: $call-button-height;
    background-color: transparent;
    color: $call-button-text-color;
    border: none;
    border-radius: 4px;
    transition: color 0.3s, background-color 0.3s;
    cursor: pointer;
}

.header__right .ant-btn:hover {
    color: $call-button-hover-text-color !important;
    background-color: transparent !important;
    box-shadow: none !important;
}

.header__burger {
    display: none;
    font-size: 24px;
    color: $logo-color;
    cursor: pointer;
}

// Стили для Drawer
.drawer__footer {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .drawer__phone {
        font-size: 16px;
        color: #000; // Можно задать свой цвет или использовать переменные
        text-align: center;
    }

    .drawer__call-button {
        font-size: 16px;
        background: transparent;
        color: #000; 
        border: none;
        text-align: center;

        &:hover {
            color: #000 !important;
            background: transparent !important;
        }
    }
}

// Адаптивность
@media (max-width: 1200px) {
    .header__container {
        padding-left: 50px;
        padding-right: 50px;
    }

    .header__center .ant-btn {
        font-size: 16px;
        padding: 0 12px;
    }

    .header__phone,
    .header__separator {
        font-size: 16px;
    }

    .header__right .ant-btn {
        font-size: 14px;
        padding: 6px 12px;
        height: 35px;
    }
}

@media (max-width: 768px) {
    // Скрываем центральные кнопки
    .header__center {
        display: none;
    }

    // Показываем бургер
    .header__burger {
        display: block;
        margin-left: 16px;
    }

    // Скрываем телефон и кнопку в хедере на малых экранах
    .header__right {
        display: none;
    }
}
