.footer {
    background-color: #8A1414;
    padding: 40px 0;

    .footer-content {
        max-width: 1200px;
        margin: 0 auto;
    }

    .footer-block {
        text-align: center;

        h5 {
            margin-top: 0;
            margin-bottom: 16px;
            color: #ffffff;
        }

        .company-logo {
            margin-bottom: 16px;

            img {
                max-width: 100px; // Задайте подходящий размер
                height: auto;
            }
        }

        .social-icons {
            margin-bottom: 16px;
            color: #ffffff;
        
            a {
                margin: 0 4px;
        
                svg {
                    fill: #ffffff; // Здесь указываем цвет иконок
                    transition: fill 0.3s; // Анимация изменения цвета
        
                    &:hover {
                        fill: #1890ff; // Цвет иконки при наведении
                    }
                }
            }
        }

        .footer-list {
            list-style: none;
            padding: 0;
            margin: 0;
    
            li {
                margin-bottom: 8px;
    
                a {
                    color: #ffffff;
                    text-decoration: none;
                    transition: color 0.3s;
    
                    &:hover {
                        color: #1890ff;
                    }
                }
            }
        }
    }
}
